<!DOCTYPE html>
<html>

<head>
    <title>v-bind/v-on</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        <h3>Conponent2</h3>
        <div id="components2-demo">
            <custom-input v-model="message"></custom-input>
        </div>
    </div>
    <script>
        Vue.component('custom-input', {
            props: ['message'],
            data() {
                return { /* propsを直接変更しないようにする */
                    msg: this.message
                }
            },
            template: `
              <div>
                <input
                    v-model="msg"
                >
                <p>Message is: {{ msg }}</p>
              </div>
            `
        })

        var vm = new Vue({
            el: '#components2-demo',
            data: { /* 初期値を設定 */
                message: ''
            }
        })
    </script>
</body>

<style>

</style>

</html>